POSTGRES_USER=postgres
POSTGRES_PASSWORD=promijeni_me
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=salon

SECRET_KEY=promijeni_me_generiraj_nasumicni_kljuc
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

REZERVACIJA_ROK_POTVRDE_MINUTA=10
